<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

{% if author.arXiv %}
<li>
  <a ="https://arxiv.org/search/advanced?advanced=&terms-0-operator=AND&terms-0-term=Lopes%2C+P+L+S&terms-0-field=author&classification-physics_archives=all&classification-include_cross_list=include&date-filter_by=all_dates&date-year=&date-from_date=&date-to_date=&date-date_type=submitted_date&abstracts=show&size=50&order=-announced_date_first" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <svg
    viewBox="0 0 300 100"
    xmlns="http://www.w3.org/2000/svg"
    stroke="red"
    fill="grey">
    <circle cx="50" cy="50" r="40" />
    <circle cx="150" cy="50" r="4" />
  
    <svg viewBox="0 0 10 10" x="200" width="100">
      <circle cx="5" cy="5" r="4" />
    </svg>
  </svg>
  </a>
</li>
{% endif %}

{% if author.Google-scholar %}
<li>
  <a href="https://scholar.google.com.br/citations?hl=en&view_op=list_works&gmla=AJsN-F7UVSUK_K6HbUFmP4qp7CSaDESXtbzzpPo9VFJTLDP6Sy3KdURzfiMvvmM3yc6jW1bjPj2c-gzYJdPzD2GelL1wG4R0sRi13igy4DlW6HsPDKZzloI&user=MGm_LUwAAAAJ" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i><span class="label">Google scholar</span>
  </a>
</li>
{% endif %}